<%- include('partials/layout-start', { title: 'エラー', current: '' }) %>
<div class="card">
  <div class="card-body">
    <p><%= message %></p>
    <a href="/" class="btn btn-secondary mt-4">トップへ戻る</a>
  </div>
</div>
<%- include('partials/layout-end') %>
